@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);


body{
    background-color:#e3f4fd!important;
}

.myButton {
	-moz-box-shadow: 0px 0px 0px 2px #6480d2;
	background-color:#2f54a7;
	-moz-border-radius:10px;
	border-radius:10px;
	border:1px solid #0a1f67;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:5px 5px;
	text-shadow:0px 1px 0px #283966;
     margin: 1px 5px;
}
.myButton:hover {
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}

.addButton{
    margin-bottom:10px;
    margin-top:0px;
}

.alert-info{
    background-color: #e4e7e8;
    border-color: #b3bdbf
}

.user-info{
   float:right;
    width:50%;
    text-align:right;
}

.logged-out{
    visibility:hidden;
}


/*** Table Styles **/

table {
  background: white;
  border-radius:3px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
 max-width: max-content!important;
}

thead {
    background: #c3c3c3
}

th:hover{
    cursor:pointer;
}

.not-clickable{
    cursor:default!important;
}

tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
td {
  font-weight:300;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
}