<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site_tracker.css') }}" />
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='site_tracker.js') }}"></script>
</head>

    
<body>
    <div class="myHeader"><span>Website Update Tracker</span></div>
    
    <button onclick="addWebsite()" class="myButton">Add Website</button>
    
    <table id=result_table>
        <thead>
            <tr>
                <th><span>Websites</span></th>
                <th><span>Update Status</span></th>
                <th><span>Last Update</span></th>
                <th><span>Actions</span></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</body>
