{% extends "base.html" %}

{% block content %}
<div class="page-data container-fluid">
    <button onclick="addWebsite()" class="myButton addButton">Add Website</button>
    
    <table id=result_table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th onclick="sortTable(0)"><span>Websites</span></th>
                <th onclick="sortTable(1)"><span>Update Status</span></th>
                <th onclick="sortTable(2)"><span>Last Update</span></th>
                <th class="not-clickable"><span>Actions</span></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock %}